<h2>Animações</h2>

@if(moveIn() === 'move-right'){
  <div class="ball" [@move-ball]="moveIn()"></div>
}

<button (click)="moveIn.set('move-left')">Move left</button>
<button (click)="moveIn.set('move-right')">Move right</button>

<hr />

move in: {{ moveIn() }}

<hr />

<button (click)="addNewItem()">Add</button>

<ul [@list-itens]="listItens().length">
  @for(item of listItens(); track item; let i = $index){
    <li>{{ item.name }} - <button (click)="deleteItem(i)">delete</button></li>
  }
</ul>
