<h2>Services</h2>

<h3>Get List</h3>
@if(getTaskList(); as data){
  <ul>
    @for(item of data; track item){
      <li>{{ item.id }} - {{ item.title }} - <button (click)="httpTaskDelete(item.id)"> delete </button></li>
    } @empty {
      <li>Sem dados carregados!</li>
    }
  </ul>
} @else {
  <li>Loading...</li>
}

@if(getTaskListError()){
  <p>{{ getTaskListError() }}</p>
}

@if(getTaskDeleteError()){
  <p>{{ getTaskDeleteError() }}</p>
}

<h3>Get item Id</h3>
@if(getTaskId(); as data){
 <p>Get por ID: {{ data.id }} - {{ data.title }}</p>
} @else {
  {{ getTaskIdError() }}
}

<h3>Post create</h3>
<input type="text" #createTitle placeholder="Add title">
<button (click)="httpTaskCreate(createTitle.value)"> Create </button>
@if( getTaskCreateError() ){
  <p>{{getTaskCreateError()}}</p>
}

<h3>Patch Update</h3>
<input type="text" #updateId placeholder="Add id">
<input type="text" #updateTitle placeholder="Add title">
<button (click)="httpTaskUpdate(updateId.value, updateTitle.value)"> Update </button>

@if (getTaskUpdateError()){
  <p>{{ getTaskUpdateError() }}</p>
}


