<h2>Control flow</h2>
<h3>IF ( Novo )</h3>

<!-- Nova Forma -->
@if(loadingData$ | async; as data) {
  <ul>
    @for(item of data; track item){
    <li>{{ item }}</li>
    }
  </ul>
  } @else {
  <p>Carregando...</p>
  }

<hr>

<h3>FOR ( Novo )</h3>
@for(item of loadingData$ | async; track item){
  <li>{{ item }}</li>
}

<hr>

@for (
  item of itens; track item.name;
  let i = $index;
  let c = $count;
  let f = $first;
  let l = $last;
  let e = $even;
  let o = $odd;
) {
  <p>{{ item.name }}</p>
  <p>index - {{ i }}</p>
  <p>count - {{ c }}</p>
  <p>first - {{ f }}</p>
  <p>last - {{ l }}</p>
  <p>even - {{ e }}</p>
  <p>odd - {{ o }}</p>
}
<hr>

<ul>
  @for (item of itens; track item.name) {
    <li> {{ item.name }} </li>
  } @empty {
    <li> Não contém valores </li>
  }
</ul>

@for (item of itens; track trackByFnV17($index, item)) {
  {{ item.name }}
}

<hr>

<h3>SWITCH CASE ( Novo )</h3>
@switch (switchCondition) {
  @case ('A') {
    <p>Sim sua letra é: A</p>
  }

  @case ('B') {
    <p>Sim sua letra é: B</p>
  }

  @default {
    Default Case.
  }
}

<hr>

<!-- Forma Antiga -->
<h3>IF ( Antigo )</h3>
<ng-container *ngIf="loadingData$ | async as data; else loading">
  <ul>
    <ng-container *ngFor="let item of data; trackBy: trackByFn">
      <li>{{ item }}</li>
    </ng-container>
  </ul>
</ng-container>
<ng-template #loading> <p>Carregando...</p> </ng-template>

<hr>

<h3>FOR ( Antigo )</h3>
<ng-container
    *ngFor="
      let item of itens;
      let i = index;
      let c = count;
      let f = first;
      let l = last;
      let e = even;
      let o = odd;
      trackBy: trackByFn
    "
>
    <p>{{ item.name }}</p>
    <p>index - {{ i }}</p>
    <p>count - {{ c }}</p>
    <p>first - {{ f }}</p>
    <p>last - {{ l }}</p>
    <p>even - {{ e }}</p>
    <p>odd - {{ o }}</p>
</ng-container>


<hr>

<ul>
  <ng-container *ngIf="itens.length === 0; else itensExist">
    <li> Não contém valores </li>
  </ng-container>

  <ng-template #itensExist>
    <ng-container *ngFor="let item of itens">
      <li>
        {{item.name}}
      </li>
    </ng-container>
  </ng-template>
</ul>

<hr>

<h3>SWITCH CASE ( Antigo )</h3>
<div [ngSwitch]="'A'">
  <p *ngSwitchCase="'A'">Conteúdo A</p>
  <p *ngSwitchCase="'B'">Conteúdo B</p>
  <p *ngSwitchDefault>Conteúdo Default</p>
</div>

<hr>

<h3>Add New Name</h3>
<input #name type="text">
<button (click)="addNewName(name.value)">Add Name</button>
