<h2>Template</h2>
<h3>Text Interpolation</h3>
<p>{{ name }} - {{ age }}</p>

<p>{{ condition }}</p>

<hr />

<h3>Property binding</h3>
<!-- <element [property]='value'></element> -->
<button [disabled]="isDisabled">Button</button>
<!-- <img [src]="srcValue" [alt]="name" [title]="name" /> -->

<hr />

<h3>Attribute binding</h3>
<!-- <element [attr.attribute-you-are-targeting]='value'></element> -->
<p [attr.title]="name" [attr.aria-label]="name">Dener Troquatte</p>
<hr />

<h3>Class and Style binding</h3>
<p [class.background-red]="age > 32" [class.background-blue]="age < 32">
  {{ name }}
</p>

<p [style.text-decoration]="isTextDecoration">{{ age }}</p>

<hr />

<h3>Event binding</h3>
<!--
  <element
      (TargetEventName)='TemplateStatement'
  ></element>
-->

<button (click)="sum()">+</button>
<button (click)="sub()">-</button>
<input (keydown.shift.t)="onKeyDown($event)" />

<div
  style="background: red; width: 300px; height: 300px; margin-top: 10px"
  (mousemove)="onMouseMove($event)"
></div>

<hr />

<h3>Two-way binding</h3>
<input [(ngModel)]="name" />

{{ name }}

<hr />

<h3>Diretivas de atributo</h3>
<div [ngClass]="{ 'background-red': age > 35, 'background-blue': age < 35 }">
  Classes condicionais.
</div>

<div
  [ngStyle]="{
    color: age > 35 ? 'green' : 'red',
    'font-size':  age > 35 ? '10px' : '20px',
  }"
>
  Estilo dinâmico.
</div>
